<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}} :: SmithShop</title> 
    <meta name="description" content="{{page.description}}">


    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/blog.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
    	
      <header>
      	
        <h1>SmithShop</h1>

        <p>The Personal Blog of D Clay Smith</p>
        
        <p>&nbsp;</p>

        <p>Email me: <a href="mailto:dclaysmith@gmail.com">dclaysmith@gmail.com</a></p>
        
        <p>Follow me: <a href="http://twitter.com/dclay">@dclay</a></p>

        <p>&nbsp;</p>

		<p>I'm currently working on <a href="http://www.akitaapp.com">Akita&mdash;Customer Success Software</a>.</p>
		
		<p>I continue to improve <a href="http://www.thetaboard.com">ThetaBoard</a>.</p>

        <p>&nbsp;</p>

		<p>I am occassionally available for freelance web development and consulting.</p>
		
      </header>
      
      {{ content }}

      <footer>
        <p><small>&copy; D Clay Smith</small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15085253-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>    
  </body>
</html>
